//$cyan: #66fcf1;
$cyan: #0aadf0;
$titleCyan: #26b9f6;
$darkCyan: #45a29e;
$black: #0b0c10;
$dark: #1f2833;
$silver: #d8d8d8;
$green: #a9eb67;
$orange: #f8b819;

//diff
$footer1: hsl(228, 19%, 0%);
$footer2: #212531;
$footer3: s;
$footer4: s;
$footer5: s;

$footer-bg: $footer1;

//social media logo colors
$facebookLogoColor: rgb(59, 89, 152);
$linkedinLogoColor: rgb(0, 123, 182);
$twitterLogoColor: rgb(0, 172, 237);
$gmailLogoColor: rgb(197, 22, 52);
$githubLogoColor: rgb(37, 211, 102); /*rgb(42, 154, 132)*/
$codepenLogoColor: white;

$sm-icon-height: 29px;
$sm-icon-width: $sm-icon-height;
