@media screen and (max-width: 400px) {
  body {
    font-size: 16px;
  }
  main {
    > section:first-of-type {
      min-height: auto;
      padding: 2rem 2rem;
      height: auto;

      .right {
        transform: translate(0%);

        blockquote {
          margin: 0;
        }
      }
      .left {
        display: none;
      }
    }
    > section:nth-of-type(2) {
      > div {
        padding: 1.3rem;
        width: 100%;
      }
    }

    > aside ul {
      width: 100%;
    }
  }
}
