//@media screen and (max-width: 920px) {
//.section1 {
//flex-direction: column;

//height: 50vh;
// #img-div {
//   align-self: flex-start;
// }
// }
//}

@media screen and (max-width: 680px) {
  body {
    font-size: 16px;
  }
  main > section:first-of-type {
    height: auto;
  }
}

@media screen and (max-width: 920px) {
  main > section:first-of-type .scroll-arrow {
    visibility: hidden;
  }
}
