//@media screen and (max-width: 920px) {
//.section1 {
//flex-direction: column;

//height: 50vh;
// #img-div {
//   align-self: flex-start;
// }
// }
//}

@media screen and (max-width: 680px) {
  main > section:first-of-type {
    height: auto;
  }
}

@media screen and (max-width: 920px) {
  main > section:first-of-type {
    .scroll-arrow {
      visibility: hidden;
    }
  }
}

@media screen and (max-width: 720px) {
  main {
    > section:first-of-type {
      min-height: auto;
      padding: 4rem 2em;

      .right {
        transform: translate(0%);

        blockquote {
          margin: 0;
        }
      }
      .left {
        display: none;
      }
    }

    > aside ul {
      width: 80%;
    }
  }
}

@media screen and (max-width: 820px) {
  main {
    > section:nth-of-type(2) {
      > div {
        padding: 1.3rem;
        width: 80%;
      }
      > aside {
        width: 398px;
      }
    }

    > aside ul {
      width: 80%;
    }
  }
}
