//@media screen and (max-width: 920px) {
//.section1 {
//flex-direction: column;

//height: 50vh;
// #img-div {
//   align-self: flex-start;
// }
// }
//}
@media screen and (max-width: 680px) {
  #main {
    font-size: 16px;
  }
  .section1 {
    height: auto;
  }
}

@media screen and (max-width: 920px) {
  .section1 .scroll {
    visibility: hidden;
  }
}
