/*rgb(42, 154, 132)*/
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 399;
  src: url("../../fonts/roboto-v19-latin-regular.eot");
  src: local("../../"), url("../fonts/roboto-v19-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-v20-latin-regular.woff2") format("woff2"), url("../../fonts/roboto-v19-latin-regular.woff") format("woff"), url("../../fonts/roboto-v19-latin-regular.ttf") format("truetype"), url("../../fonts/roboto-v19-latin-regular.svg#Roboto") format("svg");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 399;
  src: url("../../fonts/open-sans-v17-latin-regular.eot");
  src: local("../../"), url("../../fonts/open-sans-v17-latin-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/open-sans-v18-latin-regular.woff2") format("woff2"), url("./fonts/open-sans-v18-latin-regular.woff") format("woff"), url("./fonts/open-sans-v18-latin-regular.ttf") format("truetype"), url("../../fonts/open-sans-v18-latin-regular.svg#OpenSans") format("svg");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

html,
body {
  background-color: #0b0c10;
}

body {
  border-radius: 5px;
  margin: 1.5em 0;
  min-height: 200vh;
  width: 99%;
}

::-moz-selection {
  background-color: rgba(255, 255, 255, 0.15);
}

::selection {
  background-color: rgba(255, 255, 255, 0.15);
}

html,
body {
  font-size: 100%;
}

body {
  font-size: 19.5px;
  font-family: sans-serif;
  color: #d8d8d8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Roboto", sans-serif;
  text-align: center;
  color: #0aadf0;
}

a {
  text-decoration: none;
}

.first-section .right h1 {
  font-size: 4.2rem;
  font-family: Impact, "Haettenschweiler", Haettenschweiler, "Oswald", "Arial Narrow Bold", sans-serif;
  color: #0aadf0;
}

.first-section .right .subtitle {
  font-size: 1.4375rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  color: #f8b819;
}

.first-section .right blockquote {
  font-size: 1.6rem;
  font-family: serif;
  font-style: italic;
  text-align: center;
  color: #a9eb67;
}

.first-section .left img {
  font-size: 0.8rem;
  color: #9c9c9c;
}

.first-section .left .main-image-source {
  font-size: 0.6rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.first-section .scroll-arrow {
  font-size: 4rem;
  text-align: center;
  text-decoration: none;
}

section.details-section {
  color: #d8d8d8;
}

aside.general-facts {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  aside.general-facts {
    font-size: calc( 16px + 7 * ((100vw - 320px) / 1860));
  }
}

@media screen and (min-width: 2180px) {
  aside.general-facts {
    font-size: 23px;
  }
}

aside.general-facts .colon {
  text-align: center;
}

div.introduction {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  div.introduction {
    font-size: calc( 16px + 7 * ((100vw - 320px) / 1860));
  }
}

@media screen and (min-width: 2180px) {
  div.introduction {
    font-size: 23px;
  }
}

div.introduction h2 {
  font-family: "Roboto", sans-serif;
}

div.introduction p {
  line-height: 1.5em;
}

div.introduction ul {
  color: #d8d8d8;
}

.life-events-section > h2 {
  text-align: center;
  color: #0aadf0;
}

.timeline-right-side .year-container p {
  font-family: Comic Sans MS, "Comic Sans MS", sans-serif;
  text-align: right;
  color: #a9eb67;
  color: #0aadf0;
}

.timeline-right-side .year-container p {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  .timeline-right-side .year-container p {
    font-size: calc( 16px + 7 * ((100vw - 320px) / 1860));
  }
}

@media screen and (min-width: 2180px) {
  .timeline-right-side .year-container p {
    font-size: 23px;
  }
}

.timeline-right-side .event-details-box p {
  font-size: 0.9rem;
  text-align: left;
  color: black;
}

.timeline-right-side .event-details-box p {
  font-size: 12px;
}

@media screen and (min-width: 320px) {
  .timeline-right-side .event-details-box p {
    font-size: calc( 12px + 4 * ((100vw - 320px) / 1860));
  }
}

@media screen and (min-width: 2180px) {
  .timeline-right-side .event-details-box p {
    font-size: 16px;
  }
}

.timeline-left-side .year-container p {
  font-family: Comic Sans MS, "Comic Sans MS", sans-serif;
  text-align: left;
  color: #a9eb67;
  color: #0aadf0;
}

.timeline-left-side .year-container p {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  .timeline-left-side .year-container p {
    font-size: calc( 16px + 7 * ((100vw - 320px) / 1860));
  }
}

@media screen and (min-width: 2180px) {
  .timeline-left-side .year-container p {
    font-size: 23px;
  }
}

.timeline-left-side .event-details-box p {
  font-size: 0.9rem;
  text-align: left;
  color: black;
}

.timeline-left-side .event-details-box p {
  font-size: 12px;
}

@media screen and (min-width: 320px) {
  .timeline-left-side .event-details-box p {
    font-size: calc( 12px + 4 * ((100vw - 320px) / 1860));
  }
}

@media screen and (min-width: 2180px) {
  .timeline-left-side .event-details-box p {
    font-size: 16px;
  }
}

.footer-text-box {
  line-height: 60px;
  text-align: center;
  white-space: nowrap;
}

.footer-text-box > span:first-child {
  font-weight: 300;
}

.footer-text-box > span:nth-child(2) {
  font-weight: 500;
  color: #0aadf0;
}

.top-arrow > a {
  line-height: 47.5px;
  text-decoration: none;
  text-align: center;
  color: white;
}

.top-arrow > a::after {
  font-size: 0.7rem;
  line-height: 25px;
  white-space: nowrap;
  color: #b1b1b1;
}

.related-content ul li {
  color: #0aadf0;
}

.related-content ul li {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  .related-content ul li {
    font-size: calc( 16px + 7 * ((100vw - 320px) / 1860));
  }
}

@media screen and (min-width: 2180px) {
  .related-content ul li {
    font-size: 23px;
  }
}

.related-content ul li a {
  color: #d8d8d8;
  white-space: nowrap;
}

@media (max-width: 680px) {
  .related-content ul li a {
    white-space: normal !important;
  }
}

.related-content ul li a:hover {
  color: #d8d8d8 !important;
}

.related-content ul li a:active {
  color: #0aadf0;
}

.related-content ul li a:visited {
  color: #16869c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Roboto", sans-serif;
  color: #0aadf0;
  width: 100%;
  text-align: center;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.65rem;
}

p {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  p {
    font-size: calc( 16px + 7 * ((100vw - 320px) / 1860));
  }
}

@media screen and (min-width: 2180px) {
  p {
    font-size: 23px;
  }
}

@media (max-width: 400px) {
  p {
    line-height: 1.2rem;
  }
}

ul li {
  line-height: 1.75rem;
  font-family: "Open Sans", sans-serif;
}

footer > .social-media-icons {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  height: 60px;
  min-width: 300px;
  padding: 5px;
  background-color: transparent;
  color: #d8d8d8;
}

footer > .social-media-icons button {
  background-color: transparent;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

footer > .social-media-icons svg {
  height: 29px;
  width: 29px;
  overflow: hidden;
}

footer > .social-media-icons a,
footer > .social-media-icons a:link,
footer > .social-media-icons a:visited,
footer > .social-media-icons a:hover,
footer > .social-media-icons a:active {
  color: #d8d8d8;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  background-color: transparent;
}

.facebook-icon a {
  outline-color: transparent !important;
}

.facebook-icon a:active svg,
.facebook-icon a:focus svg,
.facebook-icon a:hover svg {
  color: #3b5998;
}

.linkedin-icon a {
  outline-color: transparent !important;
}

.linkedin-icon a:active svg,
.linkedin-icon a:focus svg,
.linkedin-icon a:hover svg {
  color: #007bb6;
}

.twitter-icon a {
  outline-color: transparent !important;
}

.twitter-icon a:active svg,
.twitter-icon a:focus svg,
.twitter-icon a:hover svg {
  color: #00aced;
}

.gmail-icon a {
  outline-color: transparent !important;
}

.gmail-icon a:active svg,
.gmail-icon a:focus svg,
.gmail-icon a:hover svg {
  color: #c51634;
}

.github-icon a {
  outline-color: #0aadf0 !important;
}

.github-icon a:active svg,
.github-icon a:focus svg,
.github-icon a:hover svg {
  color: #25d366;
}

.codepen-icon a {
  outline-color: #0aadf0 !important;
}

.codepen-icon a:active svg,
.codepen-icon a:focus svg,
.codepen-icon a:hover svg {
  color: white;
}

::-webkit-scrollbar {
  width: 1rem;
}

@media (max-width: 680px) {
  ::-webkit-scrollbar {
    width: 0.5rem;
  }
}

@media (max-width: 400px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}

::-webkit-scrollbar-track {
  background-color: rgba(77, 77, 77, 0.05);
}

::-webkit-scrollbar-thumb {
  background-color: #6d6d6f;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4f4f50;
}

::-webkit-scrollbar-thumb:active {
  background-color: #404041;
}

.life-events-timeline {
  scrollbar-color: #088dc4 #1a1c25;
  scrollbar-width: 0.8rem, 0.8rem;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

@media (max-width: 400px) {
  .life-events-timeline {
    scrollbar-width: 0;
  }
}

.life-events-timeline::-webkit-scrollbar {
  width: 0.8rem, 0.8rem;
}

.life-events-timeline::-webkit-scrollbar-track {
  background-color: #1a1c25;
}

.life-events-timeline::-webkit-scrollbar-thumb {
  background-color: #099bd8;
}

.life-events-timeline::-webkit-scrollbar-thumb:hover {
  background-color: #077dae;
}

.life-events-timeline::-webkit-scrollbar-thumb:active {
  background-color: #055c7f;
}

.first-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100vh;
}

@media (max-width: 680px) {
  .first-section {
    width: auto;
  }
}

@media (max-width: 720px) {
  .first-section {
    min-height: auto;
    padding: 4rem 2em;
  }
}

@media (max-width: 400px) {
  .first-section {
    min-height: auto;
    padding: 2rem 2.3rem;
    height: auto;
  }
}

.first-section .right {
  position: relative;
  width: 55%;
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 1.2em 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transform: translate(-15%);
          transform: translate(-15%);
  z-index: 2;
}

@media (max-width: 720px) {
  .first-section .right {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}

@media (max-width: 400px) {
  .first-section .right {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}

.first-section .right h1 {
  margin: 0;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  opacity: 0;
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
  -webkit-animation: from-top 1000ms ease-out forwards;
          animation: from-top 1000ms ease-out forwards;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.first-section .right .subtitle {
  margin: 1.5em 0;
  padding: 16px 0;
  opacity: 0;
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
  -webkit-animation: from-top 1000ms ease-out forwards;
          animation: from-top 1000ms ease-out forwards;
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}

.first-section .right blockquote {
  opacity: 0;
  -webkit-animation: opacity 1500ms ease-out forwards;
          animation: opacity 1500ms ease-out forwards;
  -webkit-animation-delay: 3500ms;
          animation-delay: 3500ms;
  margin-top: 8.5px;
}

@media (max-width: 720px) {
  .first-section .right blockquote {
    margin: 3px 0 0 0;
  }
}

@media (max-width: 400px) {
  .first-section .right blockquote {
    margin: 0;
  }
}

.first-section .left {
  width: 45%;
  min-width: 320px;
  margin: 0;
  opacity: 0;
  -webkit-animation: opacity 3000ms forwards;
          animation: opacity 3000ms forwards;
  -webkit-animation-delay: 5000ms;
          animation-delay: 5000ms;
}

@media (max-width: 720px) {
  .first-section .left {
    display: none;
  }
}

.first-section .left img {
  display: block;
  margin: 0 auto;
  height: auto;
  max-height: 100vh;
  max-width: 100%;
  overflow: hidden;
}

.first-section .left .main-image-source {
  opacity: 0.45;
  margin-left: 0.6vw;
  opacity: 0;
  visibility: hidden;
  -webkit-animation: source 200ms forwards 5010ms;
          animation: source 200ms forwards 5010ms;
}

.first-section .scroll-arrow {
  position: absolute;
  -webkit-transform-origin: center;
          transform-origin: center;
  left: 50%;
  -webkit-transform: translate(-50%, 20%) rotate(90deg);
          transform: translate(-50%, 20%) rotate(90deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  height: 65px;
  width: 65px;
  bottom: 20px;
  outline: none;
  -webkit-animation: down-arrow 1100ms ease-out forwards 6000ms infinite;
          animation: down-arrow 1100ms ease-out forwards 6000ms infinite;
}

@media (max-width: 920px) {
  .first-section .scroll-arrow {
    visibility: hidden;
  }
}

.first-section .scroll-arrow::before {
  content: "";
  position: absolute;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-transition-delay: 0.19s;
          transition-delay: 0.19s;
}

.first-section .scroll-arrow:focus::before {
  border: 1px solid #0aadf0;
  outline: 1px solid transparent;
  outline-offset: 0px;
}

.first-section .scroll-arrow:hover svg #down-path,
.first-section .scroll-arrow:focus svg #down-path {
  fill: #0aadf0 !important;
}

.first-section .scroll-arrow svg {
  position: relative;
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
          transform: translate(-50%, -50%) rotate(-90deg);
  top: 50%;
  left: calc(50% + 5px);
}

section.details-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1.5em;
  min-height: 95vh;
  height: auto;
}

aside.general-facts {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 300px;
  width: 40%;
  overflow: auto;
}

@media (max-width: 820px) {
  aside.general-facts {
    width: 398px;
  }
}

aside.general-facts ul {
  list-style-type: none;
  padding: 0;
}

aside.general-facts ul li {
  width: 100%;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

aside.general-facts ul li .key {
  display: inline-block;
  width: 38.25%;
}

aside.general-facts ul li .colon {
  display: inline-block;
  width: 6.25%;
}

aside.general-facts ul li .value {
  display: inline-block;
  width: 53.25%;
}

@supports (display: grid) {
  aside.general-facts ul li {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 6fr 1fr 9fr;
        grid-template-columns: 6fr 1fr 9fr;
  }
  aside.general-facts ul li .key {
    display: inline;
    width: auto;
  }
  aside.general-facts ul li .colon {
    display: inline;
    width: auto;
  }
  aside.general-facts ul li .value {
    display: inline;
    width: auto;
  }
}

div.introduction {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 250px;
  width: 60%;
}

@media (max-width: 820px) {
  div.introduction {
    padding: 1.3rem;
    width: 80%;
  }
}

@media (max-width: 400px) {
  div.introduction {
    padding: 1.3rem;
    width: 100%;
  }
}

.life-events-section {
  width: 100%;
  padding: 1em;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.life-events-section > h2 {
  width: 100%;
  margin-top: 60px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.life-events-timeline {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 5rem;
  min-width: 315px;
  max-height: 520px;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-width: clamp(auto, 1000px, 100vw);
  overflow: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.life-events-timeline::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 2470px;
  background-color: gray;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

@media (max-width: 680px) {
  .life-events-timeline::before {
    left: 30%;
  }
}

.life-events-timeline .timeline-right-side,
.life-events-timeline .timeline-left-side {
  position: relative;
  min-height: 80px;
  height: 130px;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.timeline-right-side {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timeline-right-side .year-container {
  left: 0;
  padding-right: 5%;
  padding-left: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timeline-right-side .year-container p {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.timeline-right-side .year-container p:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.timeline-right-side .event-details-box {
  right: 0;
  padding-left: 5%;
  padding-right: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timeline-right-side .event-details-box::after {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  background-color: #0aadf0;
  border-radius: 50%;
  left: -11px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.timeline-right-side .event-details-box p {
  position: relative;
  margin: 0;
  width: 100%;
  max-width: 360px;
  min-height: 50px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
  background-image: linear-gradient(white, white);
  border-radius: 7px;
  padding: 15px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.timeline-right-side .event-details-box p::before {
  content: "";
  position: absolute;
  height: 0px;
  width: 0px;
  border-top: solid 8px transparent;
  border-bottom: solid 8px transparent;
  border-right: solid 15px white;
  border-left: solid 15px transparent;
  left: -29px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.timeline-right-side .event-details-box p:hover {
  -webkit-box-shadow: 1.5px 1.5px 5px #0aadf0;
          box-shadow: 1.5px 1.5px 5px #0aadf0;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.year-container,
.event-details-box {
  position: absolute;
  width: calc(50% - 2.5px);
  height: calc(100% - 10px);
}

@media (max-width: 680px) {
  .year-container {
    width: calc(30% - 2.5px);
  }
  .event-details-box {
    width: calc(70% - 2.5px);
  }
}

.timeline-left-side {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timeline-left-side .year-container {
  right: 0;
  padding-left: 5%;
  padding-right: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 680px) {
  .timeline-left-side .year-container {
    left: 0;
    right: auto;
    padding: 0 5% 0 1%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.timeline-left-side .year-container p {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 680px) {
  .timeline-left-side .year-container p {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.timeline-left-side .year-container p:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.timeline-left-side .event-details-box {
  left: 0;
  padding-right: 5%;
  padding-left: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 680px) {
  .timeline-left-side .event-details-box {
    left: auto;
    right: 0;
    padding-left: 5%;
    padding-right: 1%;
  }
}

.timeline-left-side .event-details-box::after {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  background-color: #ff6600;
  background-color: #0aadf0;
  border-radius: 50%;
  right: -11.5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 680px) {
  .timeline-left-side .event-details-box::after {
    right: auto;
    left: -11px;
  }
}

.timeline-left-side .event-details-box p {
  position: relative;
  margin: 0;
  width: 100%;
  max-width: 360px;
  min-height: 50px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
  background-image: linear-gradient(white, white);
  border-radius: 7px;
  padding: 15px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.timeline-left-side .event-details-box p::before {
  content: "";
  position: absolute;
  height: 0px;
  width: 0px;
  border-top: solid 8px transparent;
  border-bottom: solid 8px transparent;
  border-left: solid 15px white;
  border-right: solid 15px transparent;
  right: -29px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 680px) {
  .timeline-left-side .event-details-box p::before {
    right: auto;
    left: -29px;
    border-right: solid 15px white;
    border-left: solid 15px transparent;
  }
}

.timeline-left-side .event-details-box p:hover {
  -webkit-box-shadow: -1.5px 1.5px 5px #0aadf0;
          box-shadow: -1.5px 1.5px 5px #0aadf0;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.related-content {
  width: 100%;
  height: auto;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 400px) {
  .related-content {
    width: 100%;
  }
}

.related-content ul {
  list-style-type: disc;
  padding: 0 1rem;
}

@media (max-width: 720px) {
  .related-content ul {
    width: 80%;
  }
}

@media (max-width: 820px) {
  .related-content ul {
    width: 80%;
  }
}

.related-content ul li a {
  position: relative;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.related-content ul li a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: -3px;
  background-color: #0aadf0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

@media (max-width: 680px) {
  .related-content ul li a::after {
    content: none;
  }
}

.related-content ul li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.related-content ul li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.related-content ul li a:focus {
  outline: none;
}

.related-content ul li a:focus::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.related-content ul li a:active::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.related-content ul li a:hover {
  border-bottom: solid transparent;
}

@media (max-width: 680px) {
  .related-content ul li a:hover {
    border-bottom: solid #0aadf0;
  }
}

.related-content ul li a:active, .related-content ul li a:focus {
  border-bottom: solid transparent;
}

@media (max-width: 680px) {
  .related-content ul li a:active, .related-content ul li a:focus {
    border-bottom: solid #0aadf0;
  }
}

footer {
  position: relative;
  bottom: 0;
  min-height: 70px;
  width: 100%;
  background-color: black;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer::before {
  position: absolute;
  width: 101%;
  height: 130%;
  background-color: black;
  right: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
}

footer::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 130%;
  background-color: black;
  z-index: -1;
  bottom: -50%;
  right: 0;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.footer-text-box {
  width: 50%;
  height: 60px;
  min-width: 290px;
  margin: 0;
}

.footer-text-box > span:nth-child(2) {
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer-text-box > span:nth-child(2):hover {
  -webkit-animation: slight-tilt 700ms ease-in forwards;
          animation: slight-tilt 700ms ease-in forwards;
}

.top-arrow {
  min-width: 44px;
  width: 25%;
  height: 60px;
  padding: 10px 0;
}

.top-arrow > a {
  position: relative;
  display: block;
  margin: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 10px 5px #3f3f3f;
          box-shadow: 0px 0px 10px 5px #3f3f3f;
  -webkit-transition: -webkit-transform 0.15s ease-out, -webkit-box-shadow 0.2s;
  transition: -webkit-transform 0.15s ease-out, -webkit-box-shadow 0.2s;
  transition: transform 0.15s ease-out, box-shadow 0.2s;
  transition: transform 0.15s ease-out, box-shadow 0.2s, -webkit-transform 0.15s ease-out, -webkit-box-shadow 0.2s;
  outline: none;
  border: 1px solid transparent;
}

.top-arrow > a:focus {
  outline: none;
}

.top-arrow > a:hover, .top-arrow > a:focus {
  outline: 2px solid transparent;
  outline-offset: 0px;
  -webkit-box-shadow: 0px 0px 15px 4px #0aadf0;
          box-shadow: 0px 0px 15px 4px #0aadf0;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.top-arrow > a:hover svg, .top-arrow > a:focus svg {
  fill: #0aadf0;
}

.top-arrow > a::after {
  content: "Press Enter";
  position: absolute;
  height: 25px;
  width: 70px;
  opacity: 0.7;
  top: 100%;
  left: 100%;
  border: 1px solid #b1b1b1d2;
  border-radius: 2px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-transition-delay: 0.19s;
          transition-delay: 0.19s;
  opacity: 0;
}

.top-arrow > a:focus::after {
  opacity: 1;
}

.top-arrow > a svg {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

@-webkit-keyframes from-top {
  0% {
    opacity: 0;
    -webkit-transform: translate(0%, -60%);
            transform: translate(0%, -60%);
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes from-top {
  0% {
    opacity: 0;
    -webkit-transform: translate(0%, -60%);
            transform: translate(0%, -60%);
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@-webkit-keyframes from-right {
  0% {
    opacity: 0;
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  80% {
    -webkit-transform: translate(-2%);
            transform: translate(-2%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}

@keyframes from-right {
  0% {
    opacity: 0;
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  80% {
    -webkit-transform: translate(-2%);
            transform: translate(-2%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes source {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    visibility: visible;
    opacity: 0.45;
  }
}

@keyframes source {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    visibility: visible;
    opacity: 0.45;
  }
}

@-webkit-keyframes hover {
  100% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
  }
}

@keyframes hover {
  100% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
  }
}

@-webkit-keyframes down-arrow {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -20%) rotate(90deg);
            transform: translate(-50%, -20%) rotate(90deg);
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, 0%) rotate(90deg);
            transform: translate(-50%, 0%) rotate(90deg);
  }
}

@keyframes down-arrow {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -20%) rotate(90deg);
            transform: translate(-50%, -20%) rotate(90deg);
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, 0%) rotate(90deg);
            transform: translate(-50%, 0%) rotate(90deg);
  }
}

@-webkit-keyframes slight-tilt {
  33% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  66% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes slight-tilt {
  33% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  66% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.onHoverBigText {
  -webkit-transition: all 1.15s ease-in-out !important;
  transition: all 1.15s ease-in-out !important;
}

.onHoverBigText:hover {
  -webkit-transform: scale(1.05) !important;
          transform: scale(1.05) !important;
}

@supports (background-clip: text) or (-webkit-background-clip: text) {
  .cyan-gradient {
    color: transparent !important;
    background: -webkit-gradient(linear, left top, right bottom, from(#0aadf0), to(#66defc)) !important;
    background: linear-gradient(to bottom right, #0aadf0, #66defc) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
  }
}
/*# sourceMappingURL=style.css.map */