footer {
  position: relative;
  bottom: 0;
  min-height: 70px;
  width: 100%;
  background-color: $footer-bg;
  padding-top: 30px;

  @include flexBox(row, space-around, center);
  flex-wrap: wrap;

  &::before {
    //content: "";
    position: absolute;
    width: 101%;
    height: 130%;
    background-color: $footer-bg;
    //background-color: #0aadf0;
    right: 0;
    left: 0;
    z-index: -1;
    transform: rotate(-1deg);
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 130%;
    background-color: $footer-bg;
    //background-color: #f00a62;
    //background-color: #0aadf0;
    z-index: -1;
    bottom: -50%;
    right: 0;
    left: 0;
    transform: rotate(0deg);
  }
}

.footer-text-box {
  width: 50%;
  height: 60px;
  min-width: 290px;
  margin: 0;

  > span:nth-child(2) {
    position: relative;
    display: inline-block;
    transition: all 0.2s;

    &:hover {
      animation: slight-tilt 700ms ease-in forwards;
    }
  }
}

.top-arrow {
  min-width: 44px;
  width: 25%;
  height: 60px;
  padding: 10px 0;

  > a {
    position: relative;
    display: block;
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 5px rgb(63, 63, 63);
    transition: transform 0.15s ease-out, box-shadow 0.2s;
    outline: none;
    border: 1px solid transparent;

    &:focus {
      outline: none;
    }
    &:hover,
    &:focus {
      //background-color: rgba(214, 214, 214, 0.562);
      outline: 2px solid transparent;
      outline-offset: 0px;
      box-shadow: 0px 0px 15px 4px $cyan;
      transform: translateY(-5px);
      svg {
        fill: $cyan;
      }
    }

    &::after {
      content: "Press Enter";
      position: absolute;
      height: 25px;
      width: 70px;
      opacity: 0.7;
      top: 100%;
      left: 100%;
      border: 1px solid #b1b1b1d2;
      border-radius: 2px;
      transition: all 0.1s;
      transition-delay: 0.19s;

      opacity: 0;
    }
    &:focus::after {
      opacity: 1;
    }

    svg {
      transform: scale(0.75);
    }
  }
}
