//RELATED CONTENT
.related-content {
  width: 100%;
  height: auto;
  padding: 1.5rem;

  @include flexBox(column, center, center);
  @include bp(very-small) {
    width: 100%;
  }

  ul {
    list-style-type: disc;
    padding: 0 1rem;

    @include bp(medium) {
      width: 80%;
    }
    @include bp(large) {
      width: 80%;
    }

    li a {
      &:hover {
        border-bottom: solid $cyan;
      }
      &:active {
        border-bottom: solid $cyan;
      }
      &:focus {
        outline: none;
        border-bottom: solid $cyan;
      }
    }
  }
}
