.life-events-section {
  width: 100%;
  padding: 1em;
  min-height: 100vh;
  @include flexBox(column, center, center);

  > h2 {
    width: 100%;
    margin-top: 60px;
    transition: all 0.3s;
  }
}

.life-events-timeline {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 5rem;
  min-width: 315px;
  max-height: 520px;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-width: clamp(auto, 1000px, 100vw);
  overflow: auto;
  user-select: none;

  // Middle line
  &::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 2470px;
    background-color: gray;
    left: 50%;
    transform: translate(-50%);

    @include bp(small) {
      left: 30%;
    }
  }

  .timeline-right-side,
  .timeline-left-side {
    position: relative;
    // min-width: 150px;
    min-height: 80px;
    // width: 100%;
    height: 130px;
    user-select: text;
  }
}

.timeline-right-side {
  //background-color: rgba(255, 255, 0, 0.589);
  padding: 10px;
  @include flexBox(row, center, center);

  .year-container {
    //background-color: #0ff;
    left: 0;
    padding-right: 5%;
    padding-left: 1%;
    @include flexBox(row, flex-end, center);

    p {
      margin: 0;
      @include flexBox(row, flex-end, center);
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .event-details-box {
    //background-color: lime;
    right: 0;
    padding-left: 5%;
    padding-right: 1%;
    @include flexBox(row, flex-start, center);

    &::after {
      content: "";
      position: absolute;
      height: 18px;
      width: 18px;
      background-color: $cyan;
      border-radius: 50%;
      left: -11px;
      top: 50%;
      transform: translateY(-50%);
    }

    p {
      position: relative;
      margin: 0;
      width: 100%;
      max-width: 360px;
      min-height: 50px;
      height: 90px;
      @include flexBox(row, flex-start, center);
      background-color: white;
      //background-image: linear-gradient(45deg,white 50%,$cyan 50%);
      background-image: linear-gradient(white, white);
      border-radius: 7px;
      padding: 15px;
      transition: all 0.2s;

      // ARROW
      &::before {
        content: "";
        position: absolute;
        height: 0px;
        width: 0px;
        border-top: solid 8px transparent;
        border-bottom: solid 8px transparent;
        border-right: solid 15px white;
        border-left: solid 15px transparent;
        left: -29px;
        top: 50%;
        transform: translateY(-50%);
      }
      &:hover {
        box-shadow: 1.5px 1.5px 5px #0aadf0;
        //background-image: linear-gradient(white,white);
        //background-image: linear-gradient(45deg,white 50%,$cyan 50%);
        transform: scale(1.01);
      }
    }
  }
}

.year-container,
.event-details-box {
  position: absolute;
  width: calc(50% - 2.5px);
  height: calc(100% - 10px);
}
@include bp(small) {
  .year-container {
    width: calc(30% - 2.5px);
  }
  .event-details-box {
    width: calc(70% - 2.5px);
  }
}

.timeline-left-side {
  //background-color: rgba(255, 0, 255, 0.103);
  padding: 10px;
  @include flexBox(row, center, center);

  .year-container {
    //background-color: #0ff;
    right: 0;
    padding-left: 5%;
    padding-right: 1%;
    @include flexBox(row, flex-start, center);

    @include bp(small) {
      left: 0;
      right: auto;
      padding: 0 5% 0 1%;
      justify-content: flex-end;
    }

    p {
      margin: 0;

      @include flexBox(row, flex-start, center);
      @include bp(small) {
        justify-content: flex-end;
      }
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .event-details-box {
    //background-color: lime;
    left: 0;
    padding-right: 5%;
    padding-left: 1%;
    @include flexBox(row, flex-end, center);
    @include bp(small) {
      left: auto;
      right: 0;
      padding-left: 5%;
      padding-right: 1%;
    }

    &::after {
      content: "";
      position: absolute;
      height: 18px;
      width: 18px;
      background-color: #ff6600;
      background-color: $cyan;
      border-radius: 50%;
      right: -11.5px;
      top: 50%;
      transform: translateY(-50%);

      @include bp(small) {
        right: auto;
        left: -11px;
      }
    }

    p {
      position: relative;
      margin: 0;
      width: 100%;
      max-width: 360px;
      min-height: 50px;
      height: 90px;
      @include flexBox(row, flex-start, center);
      background-color: white;
      background-image: linear-gradient(white, white);
      //background-image: linear-gradient(45deg,$cyan 50%,white 50%);
      border-radius: 7px;
      padding: 15px;
      transition: all 0.2s ease-out;

      // ARROW
      &::before {
        content: "";
        position: absolute;
        height: 0px;
        width: 0px;
        border-top: solid 8px transparent;
        border-bottom: solid 8px transparent;
        border-left: solid 15px white;
        border-right: solid 15px transparent;
        right: -29px;
        top: 50%;
        transform: translateY(-50%);

        @include bp(small) {
          right: auto;
          left: -29px;
          border-right: solid 15px white;
          border-left: solid 15px transparent;
        }
      }
      &:hover {
        box-shadow: -1.5px 1.5px 5px #0aadf0;
        //background-image: linear-gradient(45deg,$cyan 50%,white 50%);
        //background-image: linear-gradient(white,white);
        transform: scale(1.01);
      }
    }
  }
}
