.first-section {
  position: relative;
  @include flexBox(row, center, center);
  flex-wrap: wrap;
  min-height: 100vh;

  @include bp(small) {
    width: auto;
  }
  @include bp(medium) {
    min-height: auto;
    padding: 4rem 2em;
  }
  @include bp(very-small) {
    min-height: auto;
    padding: 2rem 2.3rem;
    height: auto;
  }
}

.first-section .right {
  position: relative;
  width: 55%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 0 1.2em 0;
  flex-grow: 1;
  transform: translate(-15%);
  z-index: 2;

  @include bp(medium) {
    transform: translate(0%);
  }
  @include bp(very-small) {
    transform: translate(0%);
  }

  h1 {
    margin: 0;
    transition: all 0.15s;

    opacity: 0;
    transform: translate(0%, -100%);
    animation: from-top 1000ms ease-out forwards;
    animation-delay: 1000ms;
  }
  .subtitle {
    margin: 1.5em 0;
    padding: 16px 0;

    opacity: 0;
    transform: translate(0%, -100%);
    animation: from-top 1000ms ease-out forwards;
    animation-delay: 2000ms;
  }
  blockquote {
    opacity: 0;
    //transform: translate(0%, -100%);
    animation: opacity 1500ms ease-out forwards;
    animation-delay: 3500ms;
    margin-top: 8.5px;

    @include bp(medium) {
      margin: 3px 0 0 0;
    }
    @include bp(very-small) {
      margin: 0;
    }
  }
}

.first-section .left {
  width: 45%;
  min-width: 320px;
  margin: 0;

  opacity: 0;
  animation: opacity 3000ms forwards;
  animation-delay: 5000ms;

  @include bp(medium) {
    display: none;
  }

  img {
    display: block;
    margin: 0 auto;
    height: auto;
    max-height: 100vh;
    max-width: 100%;
    overflow: hidden;
    //styles for alt="" (attribute) text
  }

  .main-image-source {
    opacity: 0.45;
    margin-left: 0.6vw;

    opacity: 0;
    visibility: hidden;
    animation: source 200ms forwards 5010ms;
  }
}

.first-section .scroll-arrow {
  //CAUTION : there is an html inline style opacity :0;
  position: absolute;
  transform-origin: center;
  left: 50%;
  transform: translate(-50%, 20%) rotate(90deg);
  transition: all 0.2s;
  height: 65px;
  width: 65px;
  bottom: 20px;
  outline: none;

  animation: down-arrow 1100ms ease-out forwards 6000ms infinite;

  @include bp(veryLarge) {
    visibility: hidden;
  }

  &::before {
    content: "";
    position: absolute;
    //background-color: #f00;
    width: 65px;
    height: 65px;
    border-radius: 50%;

    transition: all 0.1s;
    transition-delay: 0.19s;
  }
  &:focus::before {
    border: 1px solid $cyan;
    outline: 1px solid transparent;
    outline-offset: 0px;
  }

  &:hover svg #down-path,
  &:focus svg #down-path {
    fill: $cyan !important;
  }

  svg {
    position: relative;
    transform: translate(-50%, -50%) rotate(-90deg);
    top: 50%;
    left: calc(50% + 5px);
  }
}
