.textAnim {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.textAnim:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@-webkit-keyframes from-top {
  0% {
    opacity: 0;
    -webkit-transform: translate(0%, -60%);
            transform: translate(0%, -60%);
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes from-top {
  0% {
    opacity: 0;
    -webkit-transform: translate(0%, -60%);
            transform: translate(0%, -60%);
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@-webkit-keyframes from-right {
  0% {
    opacity: 0;
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  80% {
    -webkit-transform: translate(-2%);
            transform: translate(-2%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}

@keyframes from-right {
  0% {
    opacity: 0;
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  80% {
    -webkit-transform: translate(-2%);
            transform: translate(-2%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes hover {
  100% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
  }
}

@keyframes hover {
  100% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#main {
  border-radius: 5px;
  background-color: #daefff;
  background-color: #0b0c10;
  color: #d8d8d8;
  margin: 1.5em 0;
  margin-bottom: -15px;
  min-height: 200vh;
  font-size: 19.5px;
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

::-moz-selection {
  background-color: rgba(255, 255, 255, 0.2);
}

::selection {
  background-color: rgba(255, 255, 255, 0.2);
}

#title,
.subtitle,
h3 {
  text-align: center;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.section1 .right {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 1.2em 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transform: translate(-15%);
          transform: translate(-15%);
  z-index: 2;
}

.section1 .right #title {
  font-size: 5.25vw;
  margin: 0;
  color: #0aadf0;
  color: #0aadf0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  opacity: 0;
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
  -webkit-animation: from-top 1000ms ease-out 1000ms forwards;
          animation: from-top 1000ms ease-out 1000ms forwards;
}

.section1 .right #title:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.section1 .right .subtitle {
  color: #4abeb9;
  color: #f8b819;
  margin: 1.5em 0;
  padding: 16px 0;
  font-size: 1.8vw;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  opacity: 0;
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
  -webkit-animation: from-top 1000ms ease-out 2000ms forwards;
          animation: from-top 1000ms ease-out 2000ms forwards;
}

.section1 .right .quotes {
  text-align: center;
  font-size: 2vw;
  font-style: italic;
  color: #a9eb67;
  font-family: serif;
  opacity: 0;
  -webkit-animation: opacity 1500ms ease-out 3500ms forwards;
          animation: opacity 1500ms ease-out 3500ms forwards;
}

.section1 .right .quotes cite {
  float: right;
  font-size: 0.9em;
  margin-top: 0.8em;
}

.section1 .left#img-div {
  width: 45%;
  margin: 0;
  left: 0;
  opacity: 0;
  -webkit-animation: opacity 3000ms forwards 5000ms;
          animation: opacity 3000ms forwards 5000ms;
}

.section1 .left#img-div img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  max-height: 100vh;
  overflow: hidden;
}

.section1 .left#img-div #img-caption {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 0.6rem;
  opacity: 0.45;
  margin-left: 0.6vw;
}

.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1.5em;
  color: #f8b819;
  color: #d8d8d8;
}

.section2 h3 {
  font-family: "Roboto", sans-serif;
  color: #0aadf0;
}

.section2 p {
  line-height: 1.5em;
}

.section2 .quick-facts {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 300px;
  width: 40%;
}

.section2 .quick-facts ul {
  list-style-type: none;
  padding: 0;
}

.section2 .quick-facts ul li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 1fr 9fr;
      grid-template-columns: 6fr 1fr 9fr;
}

.section2 .details {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 300px;
  width: 60%;
}

.section2 .details ul {
  color: #a9eb67;
  color: #d8d8d8;
}

.source {
  text-align: center;
  width: 100%;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

.section3 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section3 .events-title {
  width: 100%;
  color: #0aadf0;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.section3 .flowchart {
  padding: 3em 1em;
  width: 100%;
  max-width: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section3 .flowchart .to-right {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform: translate(-60px, 16px);
          transform: translate(-60px, 16px);
}

.section3 .flowchart .to-left {
  -webkit-transform: translate(60px, 16px);
          transform: translate(60px, 16px);
}

.section3 .flowchart .recta-container {
  width: 220px;
}

.section3 .flowchart .recta-container .rectangle {
  width: 180px;
  height: 160px;
  background-color: transparent;
  border: 4px solid #d8d8d8;
  -webkit-transform: rotate(-32deg) skew(25deg);
          transform: rotate(-32deg) skew(25deg);
  overflow: hidden;
  padding: 5px;
}

.section3 .flowchart .recta-container .rectangle img {
  width: 100%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 100%;
}

@media screen and (max-width: 680px) {
  #main {
    font-size: 16px;
    line-height: 16px;
  }
  .section1 {
    height: auto;
  }
}
/*# sourceMappingURL=style.css.map */