@import "Sass/helperClasses";
@import "Sass/variables";
@import "Sass/mixins";
@import "Sass/keyframes";

*,
*::before,
*::after {
  box-sizing: border-box;
}
#main {
  border-radius: 5px;
  background-color: #daefff;
  background-color: $black;
  color: $silver;
  margin: 1.5em 0;
  margin-bottom: -15px;
  min-height: 200vh;
  font-size: 19.5px;
  font-family: sans-serif;

  display: flex;
  flex-direction: column;
  align-items: start;
}
::selection {
  background-color: rgba(255, 255, 255, 0.2);
}
#title,
.subtitle,
h3 {
  text-align: center;
}

.section1 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .right {
    width: 55%;
    display: flex;
    flex-direction: column;
    margin: 0 0 1.2em 0;
    flex-grow: 1;
    transform: translate(-15%);
    z-index: 2;

    #title {
      font-size: 5.25vw;
      margin: 0;
      color: $cyan;
      color: #0aadf0;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      transition: all 0.15s;

      opacity: 0;
      transform: translate(0%, -100%);
      animation: from-top 1000ms ease-out 1000ms forwards;
      &:hover {
        transform: scale(1.04);
      }
    }
    .subtitle {
      color: #4abeb9;
      color: #f8b819;
      margin: 1.5em 0;
      padding: 16px 0;
      font-size: 1.8vw;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

      opacity: 0;
      transform: translate(0%, -100%);
      animation: from-top 1000ms ease-out 2000ms forwards;
    }
    .quotes {
      text-align: center;
      font-size: 2vw;
      font-style: italic;
      color: #a9eb67;
      font-family: serif;

      cite {
        float: right;
        font-size: 0.9em;
        margin-top: 0.8em;
      }
      opacity: 0;
      //transform: translate(0%, -100%);
      animation: opacity 1500ms ease-out 3500ms forwards;
    }
  }

  .left#img-div {
    width: 45%;
    margin: 0;
    // margin-left: -3.5vw;
    left: 0;

    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      max-height: 100vh;
      overflow: hidden;
    }
    #img-caption {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-size: 0.6rem;
      opacity: 0.45;
      margin-left: 0.6vw;
    }
    opacity: 0;
    animation: opacity 3000ms forwards 5000ms;
  }
}

.section2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1.5em;
  color: $orange;
  color: $silver;

  h3 {
    font-family: "Roboto", sans-serif;
    color: $cyan;
  }
  p {
    line-height: 1.5em;
  }
  .quick-facts {
    padding: 1em;
    @include flexBox(column, flex-start, center);
    min-width: 300px;
    width: 40%;

    ul {
      list-style-type: none;
      padding: 0;

      li {
        display: grid;
        grid-template-columns: 6fr 1fr 9fr;
      }
    }
  }
  .details {
    padding: 1em;
    @include flexBox(column, flex-start, center);
    min-width: 250px;
    width: 60%;
    ul {
      color: $green;
      color: $silver;
    }
  }
}

.source {
  text-align: center;
  width: 100%;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}
.section3 {
  width: 100%;
  padding: 1em;
  .events-title {
    color: $cyan;
    margin-bottom: 60px;
  }
  .card-container {
    @include flexBox(row, center, start);
    flex-wrap: wrap;

    .card {
      margin: 15px;
      width: 275px;
      height: 400px;
      background-color: rgba(255, 255, 255, 0.05);
      overflow: hidden;
      border-radius: 5px;
      box-shadow: 10px 10px 10px #00000085;

      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 7fr 3fr;

      transition: all .2s;

      .card-top {
        width: 100%;
        overflow: auto;

        img{
          max-width: 100%;
          height: auto;
          aspect-ratio:1/1;
        }
      }
      .card-bottom {
        border-top: 1px solid rgb(44, 44, 44);
        width: 100%;
        padding: 15px;

        .year{
          margin: 10px 0 0 0;
        }
        .event-details{
          font-size: 16.575px;
        }
      }

      &:hover{
        box-shadow: 20px 20px 20px #000000;
      }
    }
  }
}
@import "Sass/responsive";
