@import "Sass/helperClasses";
@import "Sass/variables";
@import "Sass/keyframes";

#main {
  border-radius: 5px;
  background-color: #daefff;
  background-color: $black;
  color: $silver;
  margin: 1.5em 0;
  margin-bottom: -15px;
  min-height: 200vh;
  font-size: 1.5em;

  display: flex;
  flex-direction: column;
  align-items: start;
}
::selection {
  background-color: rgba(255, 255, 255, 0.1);
}
#title,
.subtitle,
h3 {
  text-align: center;
}

.section1 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .right {
    width: 55%;
    display: flex;
    flex-direction: column;
    margin: 0 0 1.2em 0;
    flex-grow: 1;
    #title {
      font-size: 5.25vw;
      margin: 0;
      color: $cyan;
      color: #0aadf0;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      transition: all 0.15s;

      opacity: 0;
      transform: translate(0%, -100%);
      animation: from-top 1000ms ease-out 1000ms forwards;
      &:hover {
        transform: scale(1.04);
      }
    }
    .subtitle {
      color: #4abeb9;
      color: #f8b819;
      margin: 1.5em 0;
      padding: 16px 0;
      font-size: 1.8vw;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

      opacity: 0;
      transform: translate(0%, -100%);
      animation: from-top 1000ms ease-out 2000ms forwards;
    }
    .quotes {
      text-align: center;
      font-size: 2vw;
      font-style: italic;
      color: #a9eb67;

      cite {
        float: right;
        font-size: 0.9em;
        margin-top: 0.8em;
      }
      opacity: 0;
      //transform: translate(0%, -100%);
      animation: opacity 1500ms ease-out 3500ms forwards;
    }
  }
  .left {
    width: 45%;
  }
}

.section2 {
  height: 100vh;
  padding: 3em;
  .intro-title {
    text-decoration: none;
  }
  .introduction {
    font-size: 1em;
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
      Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 1.5em;
    text-indent: 2em;
  }
}

#img-div {
  margin: 0;
  // margin-left: -3.5vw;
  left: 0;

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    max-height: 100vh;
    overflow: hidden;
  }
  #img-caption {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 0.6rem;
    opacity: 0.45;
    margin-left: 0.6vw;
  }
  opacity: 0;
  animation: opacity 3000ms forwards 5000ms;
}
.source {
  height: 15px;
  color: $darkerCyan;
  text-align: center;
}

h2 {
  font-size: 2em;
  margin-top: 2em;
  color: $darkCyan;
}
p {
  //color: $green;
}
strong {
  color: $darkCyan;
}
ul {
  list-style-type: none;
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}
li {
  display: flex;
  //color: $green;
}
@import "Sass/responsive";
