/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/roboto-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/roboto-v20-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/roboto-v20-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/roboto-v20-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/roboto-v20-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/open-sans-v18-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/open-sans-v18-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/open-sans-v18-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("./fonts/open-sans-v18-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/open-sans-v18-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/open-sans-v18-latin-regular.svg#OpenSans") format("svg"); /* Legacy iOS */
}

@import "Sass/variables";
@import "Sass/mixins";
@import "Sass/keyframes";
@import "Sass/global";
@import "Sass/helper_classes";

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,
body {
  background-color: $black;
  font-size: 100%;
}
body {
  border-radius: 5px;
  background-color: $black;
  color: $silver;
  margin: 1.5em 0;
  margin-bottom: -15px;
  min-height: 200vh;
  font-size: 19.5px;
  font-family: sans-serif;
  width: 100%;
  overflow-x: hidden;
}
::selection {
  background-color: rgba(255, 255, 255, 0.15);
}

main {
  //FIRST SECTION
  > section:first-of-type {
    position: relative;
    @include flexBox(row, center, center);
    flex-wrap: wrap;
    min-height: 100vh;

    .right {
      position: relative;
      width: 55%;
      min-width: 320px;
      display: flex;
      flex-direction: column;
      margin: 0 0 1.2em 0;
      flex-grow: 1;
      transform: translate(-15%);
      z-index: 2;

      h1 {
        font-size: 4.2rem; //5.25vw //4.2rem
        margin: 0;
        color: $cyan;
        color: #0aadf0;
        font-family: Impact,'Oswald', Haettenschweiler, "Arial Narrow Bold", sans-serif;
        transition: all 0.15s;

        opacity: 0;
        transform: translate(0%, -100%);
        animation: from-top 1000ms ease-out forwards;
        animation-delay: calc(var(--order) * 1000ms);

        &:hover {
          transform: scale(1.04);
        }
      }
      .subtitle {
        color: #4abeb9;
        color: #f8b819;
        margin: 1.5em 0;
        padding: 16px 0;
        text-align: center;
        font-size: 1.4375rem; //1.8vw
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

        opacity: 0;
        transform: translate(0%, -100%);
        animation: from-top 1000ms ease-out forwards;
        animation-delay: calc(var(--order) * 1000ms);
      }
      blockquote {
        text-align: center;
        font-size: 1.6rem; //2vw
        font-style: italic;
        color: #a9eb67;
        font-family: serif;

        opacity: 0;
        //transform: translate(0%, -100%);
        animation: opacity 1500ms ease-out forwards;
        animation-delay: calc(var(--order) * 1000ms + 500ms);
      }
    }

    .left {
      width: 45%;
      min-width: 320px;
      margin: 0;

      img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        max-height: 100vh;
        overflow: hidden;
        //styles for Alt (attribute) text
        font-size: 0.8rem;
        color: rgb(156, 156, 156);
      }
      .main-image-source {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        font-size: 0.6rem;
        opacity: 0.45;
        margin-left: 0.6vw;

        opacity: 0;
        visibility: hidden;
        animation: source 200ms forwards 5010ms;
      }
      opacity: 0;
      animation: opacity 3000ms 5000ms forwards; //5000ms
      //animation-delay: calc(var(--order) * 1000ms);
    }

    .scroll-arrow {
      position: absolute;
      text-decoration: none;
      font-size: 4rem;
      opacity: 0;
      transform-origin: center;
      transform: translate(0%, 30%) rotate(90deg);
      transition: all 0.2s;

      height: 65px;
      width: 65px;
      text-align: center;
      //line-height: 50px;
      bottom: 20px;
      overflow: hidden;

      &:focus {
        outline: none;
      }
      &::before {
        content: "";
        position: absolute;
        //background-color: #f00;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        transition: all 0.2s;

        transition: all 0.1s;
        transition-delay: 0.19s;
        border: 1px solid transparent;
      }
      &:focus::before {
        border: 1px solid gray;
      }

      &:hover svg #down-path,
      &:focus svg #down-path {
        fill: $cyan !important;
      }
      svg {
        position: relative;
        transform: translate(-50%, -50%) rotate(-90deg);
        top: 50%;
        left: calc(50% + 5px);
        //height: 50px;
        // width: 50px;
        //bottom: 10px;
      }
      animation: down-arrow 1100ms ease-out forwards 6000ms infinite;
    }
  }
  //MAIN SECTION
  > section:nth-of-type(2) {
    @include flexBox(row-reverse, center, center);
    flex-wrap: wrap;
    margin: 1.5em;
    color: $silver;
    min-height: 95vh;
    height: auto;

    > aside {
      padding: 1em;
      @include flexBox(column, flex-start, center);
      min-width: 300px;
      width: 40%;

      ul {
        list-style-type: none;
        padding: 0;

        li {
          display: grid;
          grid-template-columns: 6fr 1fr 9fr;

          .key {
            min-width: 100px;
          }
          .colon {
            text-align: center;
          }
        }
      }
    }

    > div {
      padding: 1em;
      @include flexBox(column, flex-start, center);
      min-width: 250px;
      width: 60%;

      h2 {
        font-family: "Roboto", sans-serif;
      }

      p {
        line-height: 1.5em;
      }

      ul {
        color: $green;
        color: $silver;
      }
    }
  }
  //LIFE EVENTS
  > section:nth-of-type(3) {
    width: 100%;
    padding: 1em;
    min-height: 100vh;
    background-color: rgba(85, 19, 19, 0.1);
    @include flexBox(column,center,center);

    > h2 {
      width: 100%;
      text-align: center;
      color: $cyan;
      margin-bottom: 60px;
      transition: all 0.3s;

      color: transparent;
      background: linear-gradient($cyan, $cyan);
      background-clip: text;
      -webkit-background-clip: text;

      &:hover {
        color: transparent;
        background: linear-gradient($cyan, rgb(212, 212, 212));
        background-clip: text;
        -webkit-background-clip: text;
      }
    }

    > section{
      position: relative;
      //background-color: #fff;
      min-width: 500px;
      min-height: 500px;
      width: 100%;
      height: 100%;
      max-width: 1000px;
      overflow: hidden;

      &::before{
        content: "";
        position: absolute;
        width: 5px;
        height: 100%;
        background-color: $cyan;
        left: 50%;
        transform:translate(-50%);
      }

      .right-side,.left-side{
        position: relative;
        min-width: 150px;
        min-height: 80px;
        width:100%;
        height: 130px;
      }

      .right-side{
        //background-color: rgba(255, 255, 0, 0.589);
        padding: 10px;
        overflow: hidden;
        @include flexBox(row,center,center);

        .year-container,.event-details-box{
          position: absolute;
          width: calc(50% - 2.5px);
          height: calc(100% - 10px);
        }
        .year-container{
          //background-color: #0ff;
          left: 0;
          padding-right: 5%;
          padding-left: 1%;
          display: flex;
          align-items: center;
          
          p{
            margin: 0;
            width: 100%;
            text-align: right;
            min-height: 30px;
            height: 100%;
            @include flexBox(row,flex-end,center);
            color: #a9eb67;
            font-family: Comic Sans MS,'Comic Sans MS',sans-serif;
          }
        }
        .event-details-box{
            //background-color: lime;
            right: 0;
            padding-left: 5%;
            padding-right: 1%;
            @include flexBox(row,flex-start,center);

            &::after{
              content: '';
              position: absolute;
              height: 18px;
              width: 18px;
              background-color: #ff6600;
              border-radius: 50%;
              left: -11px;
              top: 50%;
              transform:translateY(-50%);
            }


            p{
              position: relative;
              margin: 0;
              width: 100%;
              max-width: 360px;
              text-align: left;
              min-height: 50px;
              height: 90px;
              @include flexBox(row,flex-start,center);
              color: black;
              background-color:white;
              border-radius: 7px;
              padding: 15px;
              font-size: .9rem;

              // ARROW
              &::before{
                content: '';
                position: absolute;
                height: 0px;
                width: 0px;
                border-top: solid 8px transparent;
                border-bottom: solid 8px transparent;
                border-right: solid 15px white;
                border-left: solid 15px transparent;
                left: -29px;
                top: 50%;
                transform:translateY(-50%);
              }
              
            }
        }
      }
      
      .left-side{
        //background-color: rgba(255, 0, 255, 0.103);
        padding: 10px;
        overflow: hidden;
        @include flexBox(row,center,center);

        .year-container,.event-details-box{
          position: absolute;
          width: calc(50% - 2.5px);
          height: calc(100% - 10px);
        }
        .year-container{
          //background-color: #0ff;
          right: 0;
          padding-left: 5%;
          padding-right: 1%;
          display: flex;
          align-items: center;
          
          p{
            margin: 0;
            width: 100%;
            text-align: left;
            min-height: 30px;
            height: 100%;
            @include flexBox(row,flex-start,center);
            color: #a9eb67;
            font-family: Comic Sans MS,'Comic Sans MS',sans-serif;
          }
        }
        .event-details-box{
            //background-color: lime;
            left: 0;
            padding-right: 5%;
            padding-left: 1%;
            @include flexBox(row,flex-end,center);

            &::after{
              content: '';
              position: absolute;
              height: 18px;
              width: 18px;
              background-color: #ff6600;
              border-radius: 50%;
              right: -11px;
              top: 50%;
              transform:translateY(-50%);
            }


            p{
              position: relative;
              margin: 0;
              width: 100%;
              max-width: 360px;
              text-align: left;
              min-height: 50px;
              height: 90px;
              @include flexBox(row,flex-start,center);
              color: black;
              background-color:white;
              border-radius: 7px;
              padding: 15px;
              font-size: .9rem;

              // ARROW
              &::before{
                content: '';
                position: absolute;
                height: 0px;
                width: 0px;
                border-top: solid 8px transparent;
                border-bottom: solid 8px transparent;
                border-left: solid 15px white;
                border-right: solid 15px transparent;
                right: -29px;
                top: 50%;
                transform:translateY(-50%);
              }
              
            }
        }
      }
    }
  }
  //RELATED CONTENT
  > aside {
    width: 100%;
    height: auto;
    padding: 1.5rem;
    @include flexBox(column, center, center);

    ul {
      list-style-type: disc;
      padding: 0 1rem;

      li {
        color: #9ee1fc;
        color: $cyan;

        a {
          color: $silver;
          text-decoration: none;

          &:hover {
            color: $silver !important;
            border-bottom: solid $cyan;
          }
          &:active {
            color: $cyan;
            border-bottom: solid $cyan;
          }
          &:visited {
            color: hsl(190, 75%, 35%);
          }
          &:focus {
            outline: none;
            border-bottom: solid $cyan;
          }
        }
      }
    }
  }
}

footer {
  position: relative;
  bottom: 0;
  min-height: 70px;
  width: 100%;
  background-color: $footer-bg;
  padding-top: 30px;

  @include flexBox(row, space-around, center);
  flex-wrap: wrap;

  &::before {
    content: "";
    position: absolute;
    width: 101%;
    height: 130%;
    background-color: $footer-bg;
    //background-color: #0aadf0;
    right: 0;
    left: 0;
    z-index: -1;
    transform: rotate(-1deg);
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 130%;
    background-color: $footer-bg;
    //background-color: #f00a62;
    //background-color: #0aadf0;
    z-index: -1;
    bottom: -50%;
    right: 0;
    left: 0;
    transform: rotate(0deg);
  }

  //SOCIAL MEDIA ICONS
  > aside {
    @include flexBox(row, space-evenly, center);
    width: 25%;
    height: 60px;

    //height: 70px;
    min-width: 300px;
    padding: 5px;
    background-color: transparent;
    color: #d8d8d8;

    button {
      background-color: transparent;
      border: none;
      padding: 0;
      font: inherit;
      color: inherit;
      cursor: pointer;
      //overflow: hidden;

      > span {
        //sociall media icons' background
        // height: $sm-icon-height;
        // width: $sm-icon-width;
        // background-color: #ffffff00;
        // border-radius: 50%;
      }
    }
    svg {
      height: $sm-icon-height;
      width: $sm-icon-width;
      overflow: hidden;
    }
    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
      color: #d8d8d8;
      display: inline-block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      background-color: transparent;
    }

    .facebook-icon a {
      outline: none;
      &:active svg,
      &:focus svg,
      &:hover svg {
        color: $facebookLogoColor;
      }
    }

    .linkedin-icon a {
      outline: none;
      &:active svg,
      &:focus svg,
      &:hover svg {
        color: $linkedinLogoColor;
      }
    }

    .twitter-icon a {
      outline: none;
      &:active svg,
      &:focus svg,
      &:hover svg {
        color: $twitterLogoColor;
      }
    }

    .gmail-icon a {
      outline: none;
      &:active svg,
      &:focus svg,
      &:hover svg {
        color: $gmailLogoColor;
      }
    }

    .github-icon a {
      outline-color: $cyan;
      &:active svg,
      &:focus svg,
      &:hover svg {
        color: white;
      }
    }

    .codepen-icon a {
      outline-color: $cyan;
      &:active svg,
      &:focus svg,
      &:hover svg {
        color: white;
      }
    }
  }

  .footer-text-box {
    width: 50%;
    height: 60px;
    margin: 0;
    line-height: 60px;
    text-align: center;
    white-space: nowrap;

    > span:first-child {
      font-weight: 300;
    }
    > span:nth-child(2) {
      font-weight: 500;
      color: $cyan;
    }
  }

  .top-arrow {
    width: 25%;
    height: 60px;
    @include flexBox(row, center, center);

    a {
      position: relative;
      margin: 0 auto;
      width: 40px;
      height: 40px;
      text-align: center;
      border-radius: 50%;
      box-shadow: 0px 0px 10px 5px rgb(63, 63, 63);
      text-align: center;
      line-height: 47.5px;
      text-decoration: none;
      color: white;
      transition: transform 0.15s ease-out, box-shadow 0.2s;
      outline: none;

      svg {
        transform: scale(0.75);
      }

      &:focus {
        outline: none;
      }
      &:hover,
      &:focus {
        //background-color: rgba(214, 214, 214, 0.562);
        box-shadow: 0px 0px 15px 4px $cyan;
        transform: translateY(-5px);
        outline: none;
        svg {
          fill: $cyan;
        }
      }

      &::after {
        content: "Press Enter";
        position: absolute;
        height: 25px;
        width: 70px;
        line-height: 25px;
        color: #b1b1b1;
        font-size: 0.7rem;
        opacity: 0.7;
        top: 100%;
        left: 100%;
        border: 1px solid #b1b1b1d2;
        white-space: nowrap;
        border-radius: 2px;
        transition: all 0.1s;
        transition-delay: 0.19s;

        opacity: 0;
      }
      &:focus::after {
        opacity: 1;
      }
    }
  }
}
@import "Sass/responsive";
@import "Sass/mobile-only";
