.onHoverBigText {
  transition: all 1.15s ease-in-out !important;
  &:hover {
    transform: scale(1.05) !important;
  }
}

.cyan-gradient {
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    color: transparent !important;

    background: linear-gradient(to bottom right, $cyan, #66defc) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
  }
}
