// global
::-webkit-scrollbar {
  width: 1rem;
  @include bp(small) {
    width: 0.5rem;
  }
  @include bp(very-small) {
    width: 0px;
  }
}
::-webkit-scrollbar-track {
  background-color: hsla(0, 0%, 30%, 0.05);
}
::-webkit-scrollbar-thumb {
  background-color: #6d6d6f;

  &:hover {
    background-color: darken(#6d6d6f, 12%);
  }
  &:active {
    background-color: darken(#6d6d6f, 18%);
  }
}

// specific
.life-events-timeline {
  $scrollbar-width: 0.8rem;

  scrollbar-color: darken($cyan, 9%) lighten($black, 7%);
  scrollbar-width: $scrollbar-width, 0.8rem;
  transition: background-color 0.2s;

  @include bp(very-small) {
    scrollbar-width: 0;
  }

  &::-webkit-scrollbar {
    width: $scrollbar-width, 0.8rem;
  }

  &::-webkit-scrollbar-track {
    background-color: lighten($black, 7%);
  }

  &::-webkit-scrollbar-thumb {
    background-color: darken($cyan, 5%);

    &:hover {
      background-color: darken($cyan, 13.5%);
    }
    &:active {
      background-color: darken($cyan, 23%);
    }
  }
}
